body {
    background-color: #F5F5F5;
}


.light-background {
    background-color: #FFFFFF;
  
    background-image:
        linear-gradient(0deg, #FFFFFF 0%, #F5F5F5 100%);
  
    background-size: 100% 100%;
  }